// ------------------------------
// Colors
// ------------------------------
$highlight: #d36c00;
$almost-black: #090909;

// ------------------------------
// Fonts
// ------------------------------
$font-cabin: 'Cabin', Helvetica, Arial, sans-serif;
$font-lobster: 'Lobster', Georgia, Times, serif;
