// MAP WOOOO HOPE YOU HAVE JAVASCRIPT TURNED ON TO SEE SOME MAGIC
.no-js {
  background-color: #c70000;
  color: #fff;
  height: 25px;
  text-align: center;
}

#map-holder {
  display: none;
}

.gmap3 {
  height: 495px;
  margin: 0 auto;
  width: 495px;

  img {
    border: none;
  }
}

.home {
  #load-entry {
    display: none;
  }
}
